@page
@model WLC.Areas.Notices.Pages.DetailsModel

@{
    ViewData["Title"] = "Notice Details";
}

<h2>Notice Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Notices.Message)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Notices.Message)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Notices.DateCreated)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Notices.DateCreated)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Notices.DateToSend)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Notices.DateToSend)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Notices.NoticeStatus)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Notices.NoticeStatus.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Notices.NoticeType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Notices.NoticeType.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Notices.NoticeId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>

<hr />

<div class="row">
    <div class="col-md=12">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Sent To
                    </th>
                    <th>
                        Last Updated
                    </th>
                    <th>
                        Status
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Notices.NoticeQueueItems.OrderByDescending(x => x.DateLastChanged))
        {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.NotificationLocation)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateLastChanged)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NoticeStatus.Description)
                    </td>
                </tr>
        }
            </tbody>
        </table>
    </div>
</div>

