@page
@model WLC.Areas.Races.Pages.Racers.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Races/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Racers[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Racers[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Racers[0].BoyOrGirl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Racers[0].Birthdate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Racers[0].Cabin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Racers[0].MemberStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Racers) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BoyOrGirl)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.Birthdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cabin.CabinId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MemberStatus.MemberStatus)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.RacerId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.RacerId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.RacerId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
