@model IQueryable<WLC.Models.Racers>  
@{
   // @Layout = null;
}

<div id="cardList">
    @foreach (var racer in Model)
    {
        <div class="card w-50 bg-primary text-white mb-3">

            <div class="card-body">
                <h7 class="card-title">
                    <a class="text-white" onclick='return AddRacerToRace(@racer.RacerId,@ViewData["RaceId"])' href="">@racer.LastName, @racer.FirstName (@racer.Age)</a>

                </h7>

                <p>@racer.Cabin.CabinName</p>
            </div>
        </div>
    }
</div>
           