@model IQueryable<WLC.Models.Results>  
@{
// @Layout = null;
}

<div id="cardList">
    @if (Model != null)
    {
        var teamGroups = Model.GroupBy(i => new { i.Place, i.TeamId });
        
        
        foreach (var teamGroup in teamGroups)
        {
            var repTeamGroup = teamGroup.FirstOrDefault();

           
            <div class="card w-75 text-white mb-3 place_@repTeamGroup.Place">


                <div class="card-body">
                    <div>
                        <button type="button" onclick='return RemoveRacerFromRace(@repTeamGroup.TeamId,@ViewData["RaceId"])' class="close" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    @foreach (var result in teamGroup)
                    {
                    <div>
                        <p> @result.Racer.LastName, @result.Racer.FirstName (@result.Racer.GetAge(DateTime.Now))</p>
                    </div>
                    }
                    <div class="entrants-positions">
                        <input name="place_@repTeamGroup.RacerId" onclick='return SetRacerPosition(@repTeamGroup.TeamId,@ViewData["RaceId"], 1)' type="radio" @(repTeamGroup.Place == 1 ? "Checked" : "") /><span>1st</span>
                        <input name="place_@repTeamGroup.RacerId" onclick='return SetRacerPosition(@repTeamGroup.TeamId,@ViewData["RaceId"], 2)' type="radio" @(repTeamGroup.Place == 2 ? "Checked" : "") /><span>2nd</span>
                        <input name="place_@repTeamGroup.RacerId" onclick='return SetRacerPosition(@repTeamGroup.TeamId, @ViewData["RaceId"], 3)' type="radio" @(repTeamGroup.Place == 3 ? "Checked" : "") /><span>3rd</span>
                        <input name="place_@repTeamGroup.RacerId" onclick='return SetRacerPosition(@repTeamGroup.TeamId,@ViewData["RaceId"], 4)' type="radio" @(repTeamGroup.Place == 4 ? "Checked" : "") /><span>4th</span>
                        <input name="place_@repTeamGroup.RacerId" onclick='return SetRacerPosition(@repTeamGroup.TeamId,@ViewData["RaceId"], 5)' type="radio" @(repTeamGroup.Place == 5 ? "Checked" : "") /><span>5th</span>
                        <input name="place_@repTeamGroup.RacerId" onclick='return SetRacerPosition(@repTeamGroup.TeamId,@ViewData["RaceId"], 6)' type="radio" @(repTeamGroup.Place == 6 ? "Checked" : "") /><span>6th</span>
                        <input name="place_@repTeamGroup.RacerId" onclick='return SetRacerPosition(@repTeamGroup.TeamId, @ViewData["RaceId"],7)' type="radio" @(repTeamGroup.Place == 7 ? "Checked" : "") /><span>7th</span>
                        <input name="place_@repTeamGroup.RacerId" onclick='return SetRacerPosition(@repTeamGroup.TeamId,@ViewData["RaceId"], 8)' type="radio" @(repTeamGroup.Place == 8 ? "Checked" : "") /><span>8th</span>
                    </div>
                </div>
            </div>
        }
    }


</div>
           